.pointer:hover {
    cursor: pointer;
}

.table-stripped2 tr:nth-child(even) {
    background-color: #f2f2f2 !important;
}

.table-stripped2 td:not(:last-child) {
    border-right: 3px solid white !important;
}

.table-stripped2 th:not(:last-child) {
    border-right: 3px solid white !important;
}

.delete-btn {
    color: white !important;
    background-color: #e83c52 !important;
}

.form-check .form-check-input {
    display: inline-block !important;
    margin-top: 0.25vw !important;
}

.flex {
    display: flex !important;
}

.w3-row-padding img {
    margin-bottom: 12px !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif !important;
}

.rounded-3 {
    border-radius: 0.3rem !important;
}

.offcanvas-body--item:hover {
    background-color: rgba(217, 217, 217, 0.5) !important;
    box-shadow: -3px 10px 29px rgba(0, 0, 0, 0.25) !important;
}

.sidebar-container {
    background-color: #294F5D !important;
    border-radius: 18px !important;
    box-shadow: 12px 8px 13px rgba(0, 0, 0, 0.25) !important;
}

.text-green {
    color: #294f5d !important;
}

.text-gray {
    color: #C5C7CD !important;
}

.bg-green {
    background-color: rgb(41, 79, 93) !important;
}

.btn.btn-success.btn-lg.ms-2.classRule-i0cmaj {
    background-color: #00557c !important;
}

.d-flex.justify-content-end.pt-3.classRule-i03o6q {
    display: flex !important;
    justify-content: center !important;
}

.btn.pointer.bi.bi-trash.delete-btn.classRule-im4zq7 {
    padding: 10px 10px 10px 10px !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

.wabli-box {
    min-height: 50px;
    width: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
}

.form-group.flex.wabli-box.classRule-ikupqv {
    justify-content: space-between !important;
}

.btn.bi.bi-trash.delete-btn.classRule-im4zq7 {
    font-size: 18px !important;
    padding: 10px 10px 10px 10px !important;
}

.navbar.navbar-expand-sm.navbar-light.py-3.fs-3.classRule-i86v {
    background-color: rgba(255, 255, 255, 0.54) !important;
    box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.25) !important;
    margin-top: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
    margin-left: 15px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.offcanvas.offcanvas-start.sidebar-container.text-white.classRule-sidebar {
    background-color: rgb(18, 65, 107) !important;
}

.bi.bi-list.text-green.classRule-iuji5 {
    color: rgb(18, 65, 107) !important;
}

.fw-bold.text-green.fs-5.my-auto.classRule-ih2iz {
    color: rgb(18, 65, 107) !important;
}

.position-absolute.p-1.mt-2.ml-3.fs-6.top-0.start-50.translate-middle.badge.rounded-circle.bg-green.classRule-iv5nh {
    background-color: rgb(18, 65, 107) !important;
}

@media (max-width: 992px) {
    .form-group.flex.wabli-box.classRule-ikupqv {
        flex-direction: column !important;
    }
}