.bi-lock.me-3.classRule-ixdt6 {
    margin: 0 0 0 5px !important;
    color: #12416b !important;
}

.form-control.classRule-form3Example4c {
    margin: 0 0 0 5px !important;
}

.col-md-10.col-lg-6.col-xl-7.d-flex.align-items-center.order-1.order-lg-2.classRule-ic3gp {
    display: flex !important;
    justify-content: center !important;
}

.row.d-flex.my-4.mx-auto.justify-content-center.align-items-center.classRule-inkf {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0px 0 0 0 !important;
}

.pointer:hover {
    cursor: pointer;
}

.table-stripped2 tr:nth-child(even) {
    background-color: #f2f2f2 !important;
}

.table-stripped2 td:not(:last-child) {
    border-right: 3px solid white !important;
}

.table-stripped2 th:not(:last-child) {
    border-right: 3px solid white !important;
}

.form-check .form-check-input {
    display: inline-block !important;
    margin-top: 0.25vw !important;
}

.w3-row-padding img {
    margin-bottom: 12px !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif !important;
}

.bi-envelope.me-3.classRule-inj3a {
    margin: 0px 0px 0px 5px !important;
    color: #12416b !important;
}

.form-control.classRule-iowl9 {
    margin: 0 0 0 5px !important;
}

.text-center.h1.fw-bold.mb-5.mx-1.mx-md-4.mt-4.classRule-ij7t {
    color: #12416b !important;
}

.btn.btn-primary.btn-lg.classRule-ir5fh {
    background-color: #12416b !important;
}